// 全局变量
@theme-color: #57BEAD;
@textColor: #646566;
@textLowColor: #c8c9cc;
@textHightColor: #323233;
@backgroundColor: #f8f8ff;
@backgroundHightColor: #fff;

body {
  width: 100%;
  height: 100vh;
  color: @textColor;
}

// 阿里图标
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.better-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// 覆盖vant样式
.van-tabs__line {
  background: #57BEAD !important;
}